<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="up">
        <h2>New Chat</h2>
        <div class="newchats">
            <form method="post" action="/chats" >
                <h2>from &nbsp;<input type="text" placeholder="Enter name" name="from"> </h2>
                <h2>to&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="Receiver name" name="to"> </h2>
                <div class="newmsg">
                    <h3>Message</h3>
                    <textarea name="message" placeholder="Enter message" cols="25" rows="4"></textarea>
                </div>
                <br>
                <button class="btn">Send</button>
            </form>
        </div>
    </div>

</body>
</html>